<h1><%= @dept.name %></h1>
<p>Aisle: <%=@dept.aisle %></p>
<p>Description: <%=@dept.description %></p>
<hr />
<br />

<p>What would you like to do?</p>
<%= link_to 'View Items', dept_items_path(@dept) %>
<br />
<%= link_to 'Edit Department', edit_dept_path(@dept) %>
<br />
<%= link_to 'Delete Department', @dept, method: :delete %>
<br />
<%= link_to 'Back to Departments', depts_path %>